<div class="sign-up container-login100">
    <mat-card class="signUp-card wrap-login100">
        
            <h2>Reset Password</h2>
            <form  class="signUp-form" [formGroup]="resetPswForm" (ngSubmit)="onSubmit()">
              
            <p>Please enter your email address to request a password reset.</p>
            <mat-form-field class="example-full-width">
                <input matInput [formControl] ="passwordResetEmailFormControl"
                      [errorStateMatcher]="matcher"
                      type="email" class="formControl" placeholder="Enter Your Email Address" #passwordResetEmail required>
                        <span matPrefix><mat-icon>perm_identity</mat-icon>
                        </span>
                 <mat-hint>Errors appear instantly!</mat-hint> 
                 <mat-error *ngIf="passwordResetEmailFormControl.hasError('email') && !passwordResetEmailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                 <mat-error *ngIf="passwordResetEmailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> 
                
              </mat-form-field>
            
      
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit" [disabled]="!resetPswForm.valid" (click)="authService.ForgotPassword(passwordResetEmail.value)">
                    Reset Password
                </button>
              </div>
            </div>
            
          

          <div class="flex-col-c p-t-155">
              
            
            <span class=" txt1 p-b-17 redirectToLogin">Go back to?</span>
            <a href="#" class="txt2 redirect" routerLink="/sign-in"> Log In</a>
            
          </div>
      
        </form>    
    </mat-card>
  
  </div>

